@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: "Balsamiq Sans", serif;
}

@media (min-width: 768px) {
    body{
        min-height: 90vh;
        background: url("back.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        /*margin-right:32%;*/
        padding-top: 250px; padding-bottom: 240px;
        /*padding-left: 30%;*/
        display: flex;
        justify-content: center;
        background-attachment: fixed;
        overflow-y: scroll;
    }
    

    .card-body{
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 2px solid rgb(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        border-radius: 10px;
        width: 700px;
    }

    .card-body a{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 28px;
        color: #fff !important;
        text-decoration: none;
        font-weight: 600;
        -webkit-text-stroke: 0.2px black;
    }
    .card-body a:hover{
        text-decoration: underline;
    }

    input[type=text],
    textarea {
        border: 2px solid #333;
        border-radius: 5px;
        padding: 10px;
        width: 90%;
        font-size: 16px;
    }

    .card-body .titl{
        border: 2px solid #333;
        border-radius: 5px;
        padding: 10px;
        width: 54%;
        font-size: 16px;
        height: 5vh;
        resize: none;
        position: absolute; top: 20%; left: 22%;
    }

    .card-body .button {
        border: 2px solid #333;
        background-color: #FAFAFA;
        color: #333;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        position: absolute; top: 77%; left: 22%;
    }

    .card-body .descript {
        height: 125px; 
        margin-top: 3%;
        margin-bottom: 3%;
        resize: none;
        width: 54%;
        position: absolute; top: 32%; left: 22%;
    }
    .card-body .descript::placeholder{
        position: absolute;
        top: 10%;
    }

    .delete-body{
        min-height: 30vh;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 2px solid rgb(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        padding: 25px 20px;
        border-radius: 10px;
    }
    .delete-body p{
        position: absolute;
        top: -6px;
        left: 265px;
    }
    .delete-body a{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 28px;
        color: #fff !important;
        text-decoration: none;
        font-weight: 600;
        -webkit-text-stroke: 0.2px black;
    }
    .delete-body .button{
        border: 2px solid #333;
        background-color: #FAFAFA;
        color: #333;
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        width: 150px;
    }
    .card-body .ca-titl{
        border: 2px solid #333;
        border-radius: 5px;
        padding: 10px;
        width: 54%;
        font-size: 16px;
        height: 5vh;
        resize: none;
        position: absolute; top: 35%; left: 22%;
    }
    .card-body .ca-button{
        border: 2px solid #333;
        background-color: #FAFAFA;
        color: #333;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        position: absolute; top: 53%; left: 22%;
    }
    .mobile_create-date{
        display: none;
    }
    .deadline-container{
        display: flex;
        position: absolute;
        top: 305px; right: 24%;
    }
    .deadline-input{
        border: 2px solid #333;
        border-radius: 5px;
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    body{
        min-height: 90vh;
        background: url("back.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 200px;
        padding-bottom: 200px;
        display: flex;
        justify-content: center;
        background-attachment: fixed;
        overflow-y: scroll;
    }

    .card-body{
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 2px solid rgb(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        border-radius: 10px;
        width: 95%;
    }
    .card-body a{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 28px;
        color: #fff !important;
        text-decoration: none;
        font-weight: 600;
        -webkit-text-stroke: 0.2px black;
    }
    .card-body a:hover{
        text-decoration: underline;
    }

    input[type=text],
    textarea {
        border: 2px solid #333;
        border-radius: 5px;
        padding: 10px;
        width: 90%;
        font-size: 16px;
    }

    .card-body .titl{
        border: 2px solid #333;
        border-radius: 5px;
        position: absolute;
        top: 60px;
        left: 17%;
        width: 64%;
        font-size: 16px;
        height: 43px;
        resize: none;
    }

    .card-body .button {
        border: 2px solid #333;
        background-color: #FAFAFA;
        color: #333;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        position: absolute;
        top: 280px;
        left: 17%;
        width: 64%;
        cursor: pointer;
        text-decoration: none;
    }

    .card-body .descript {
        height: 125px; 
        margin-top: 3%;
        margin-bottom: 3%;
        position: absolute;
        top: 110px;
        left: 17%;
        width: 64%;
        resize: none;
    }
    .card-body .descript::placeholder{
        position: absolute;
        top: 10%;
    }
    .card-body .ca-titl{
        border: 2px solid #333;
        border-radius: 5px;
        position: absolute;
        top: 35%;
        left: 17%;
        width: 64%;
        font-size: 16px;
        height: 43px;
        resize: none;
    }
    .card-body .ca-button{
        border: 2px solid #333;
        background-color: #FAFAFA;
        color: #333;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        position: absolute;
        top: 52%;
        left: 17%;
        width: 64%;
        cursor: pointer;
        text-decoration: none;
    }

    .delete-body{
        height: 300px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 2px solid rgb(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        padding: 25px 20px;
        border-radius: 10px;
    }
    .delete-body p{
        position: absolute;
        top: -6px;
        right: 25%;
    }
    .delete-body a{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 28px;
        color: #fff !important;
        text-decoration: none;
        font-weight: 600;
        -webkit-text-stroke: 0.2px black;
    }
    .delete-body .button{
        border: 2px solid #333;
        background-color: #FAFAFA;
        color: #333;
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        width: 150px;
    }

    .mobile_create-date{
        position: absolute;
        top: 15px;
        left: 71%;
    }
}