@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: "Balsamiq Sans", serif;
}

@media (min-width: 768px) {
    body{
        min-height: 90vh;
        background: url("back.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        /*margin-left: 100px;
        margin-right: 100px;*/
        margin-top: 30px;
        overflow-y: scroll;
    }

    .header-bar{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid rgb(255, 255, 255, .2);
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-right: 2px solid rgb(255, 255, 255, .2);
        background: #6F97A3;
        background: linear-gradient(135deg, #6F97A3, #385BB1);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #f2e9e9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 15px 20px;
    }
    .header-bar a{
        color: rgb(218, 218, 218);
        text-decoration: none;
        font-weight: 600;
    }
    .header-bar .categoriee{
        position: absolute;
        right: 260px;
        color: rgb(218, 218, 218);
    }
    .header-bar a:hover{
        text-decoration: underline;
    }
    .header-bar .zametki{
        position: absolute; right: 22%
    }
    .header-bar .account{
        position: absolute;
        right: 180px;
        color: rgb(218, 218, 218);
    }

    .task-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-right: 2px solid rgb(255, 255, 255, .2);
        border-bottom: 2px solid rgb(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        padding: 20px 20px;
    }
    .task-wrapper .task-title{
        width:630px; overflow: auto; position: absolute; left: 40px; top: 26px;
    }
    .task-wrapper .task-complete-icon{
        height: 20px;
        width: 20px;
        background-color: rgb(105, 192, 105);
        border-radius: 50%;
    }
    .task-wrapper .task-incomplete-icon{
        height: 20px;
        width: 20px;
        background-color: rgb(218, 218, 218);
        border-radius: 50%;
    }
    .delete-link {
        text-decoration: none;
        font-weight: 900;
        color: #cf4949;
        font-size: 27px;
        line-height: 0;
        margin-left: 1584px;
    }

    .inimp-butt {
        text-decoration: none;
        color: #333;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 60px;
        top: 21px;
        -webkit-text-stroke: 0.5px black;
    }


    .imp-butt {
        text-decoration: none;
        color: #e1ea25;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 60px;
        top: 21px;
        -webkit-text-stroke: 1.2px black;
    }

    .complete-link {
        text-decoration: none;
        color: #29d810;
        font-size: 35px;
        line-height: 0;
        position: absolute;
        right: 93px;
        top: 16px;
        -webkit-text-stroke: 1px black;
    }
    #search-add-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: 2px solid rgb(255, 255, 255, .2);
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-bottom: 2px solid rgb(255, 255, 255, .2);
        background: #6F97A3;
        background: linear-gradient(135deg, #6F97A3, #385BB1);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        padding: 15px 20px;
    }
    #search-add-wrapper .search-form{
        border: 1.5px solid rgb(255, 255, 255, .2);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0;
        border-radius: 5px;
    }
    .search-area{
        border: none;
        width: 150px;
        outline: none;
        font-size: 15px;
        padding: 0 10px;
        background-color: #7a7a7a;
        height: 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #search-add-wrapper input::placeholder{
        color: #333;
    }
    #search-add-wrapper button{
        border: none;
        height: 25px;
        background-color: #7a7a7a;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #search-add-wrapper .button i{
        display: flex;
        justify-content: center;
        line-height: 0;
        font-size: 15px;
    }

    #add-link {
        color: #fff;
        text-decoration: none;
        font-size: 33px;
        -webkit-text-stroke: 0.7px black;
        margin-right: 14px;
        line-height: 0; 
    }

    .edit-link {
        text-decoration: none;
        color: #644d2a;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 98px;
        -webkit-text-stroke: 0.5px black;
    }

    .desktop-date{
        margin-top: 9px;
        color: #e3e3e3;
    }

    .create-date-mobile {
        display: none;
        position: absolute;
        right: 45%;
        background-color: rgb(218, 218, 218);
    }

    .counter {
        position: absolute;
        left: 20px; top: 26px;
        color: #c5c5c5;
    }
}

@media (max-width: 768px) {
    body{
        min-height: 90vh;
        background: url("back.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .header-bar{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid rgb(255, 255, 255, .2);
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-right: 2px solid rgb(255, 255, 255, .2);
        background: #6F97A3;
        background: linear-gradient(135deg, #6F97A3, #385BB1);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #f2e9e9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 15px 20px;
    }
    .header-bar a{
        color: rgb(218, 218, 218);
        text-decoration: none;
        font-weight: 600;
    }
    .header-bar .categoriee{
        position: absolute;
        right: 170px;
        color: rgb(218, 218, 218);
    }
    .header-bar a:hover{
        text-decoration: underline;
    }
    .header-bar .zametki{
        position: absolute; right: 22%
    }
    .header-bar .account{
        position: absolute;
        right: 90px;
        color: rgb(218, 218, 218);
    }

    .task-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-right: 2px solid rgb(255, 255, 255, .2);
        border-bottom: 2px solid rgb(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        padding: 20px 20px;
    }
    .task-wrapper .task-title{
        width:290px; overflow: auto; position: absolute; left: 50px; top: 27px;
    }
    .task-wrapper .task-complete-icon{
        height: 20px;
        width: 20px;
        background-color: rgb(105, 192, 105);
        border-radius: 50%;
        margin-top: 5px;
    }
    .task-wrapper .task-incomplete-icon{
        height: 20px;
        width: 20px;
        background-color: rgb(218, 218, 218);
        border-radius: 50%;
        margin-top: 5px;
    }
    .delete-link {
        text-decoration: none;
        font-weight: 900;
        color: #cf4949;
        font-size: 27px;
        line-height: 0;
    }

    .inimp-butt {
        text-decoration: none;
        color: #333;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 60px;
        top: 21px;
        -webkit-text-stroke: 0.5px black;
    }


    .imp-butt {
        text-decoration: none;
        color: #e1ea25;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 60px;
        top: 21px;
        -webkit-text-stroke: 1.2px black;
    }

    .complete-link {
        text-decoration: none;
        color: #29d810;
        font-size: 35px;
        line-height: 0;
        position: absolute;
        right: 93px;
        top: 16px;
        -webkit-text-stroke: 1px black;
    }
    #search-add-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: 2px solid rgb(255, 255, 255, .2);
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-bottom: 2px solid rgb(255, 255, 255, .2);
        background: #6F97A3;
        background: linear-gradient(135deg, #6F97A3, #385BB1);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        padding: 15px 20px;
    }
    #search-add-wrapper .search-form{
        border: 1.5px solid rgb(255, 255, 255, .2);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0;
        border-radius: 5px;
    }
    .search-area{
        border: none;
        width: 150px;
        outline: none;
        font-size: 15px;
        padding: 0 10px;
        background-color: #7a7a7a;
        height: 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #search-add-wrapper input::placeholder{
        color: #333;
    }
    #search-add-wrapper button{
        border: none;
        height: 25px;
        background-color: #7a7a7a;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #search-add-wrapper .button i{
        display: flex;
        justify-content: center;
        line-height: 0;
        font-size: 15px;
    }

    #add-link {
        color: #fff;
        text-decoration: none;
        font-size: 33px;
        -webkit-text-stroke: 0.7px black;
        margin-right: 14px;
        line-height: 0; 
    }

    .edit-link {
        text-decoration: none;
        color: #644d2a;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 98px;
        -webkit-text-stroke: 0.5px black;
    }
    .create-date-mobile {
        visibility: visible;
        position: absolute;
        top: 40%;
        right: 42%;
        color: rgb(218, 218, 218);
        font-weight: 500;
        font-size: 17px;
    }
    .counter {
        position: absolute;
        left: 20px;
        top: 28px;
        color: rgb(218, 218, 218);
    }
    .desktop-date{
        display: none;
    }
  }

@media (max-width: 480px) {
    body{
        min-height: 90vh;
        background: url("back.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .header-bar{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid rgb(255, 255, 255, .2);
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-right: 2px solid rgb(255, 255, 255, .2);
        background: #6F97A3;
        background: linear-gradient(135deg, #6F97A3, #385BB1);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #f2e9e9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 15px 20px;
    }
    .header-bar a{
        color: rgb(218, 218, 218);
        text-decoration: none;
        font-weight: 600;
    }
    .header-bar a:hover{
        text-decoration: underline;
    }
    .header-bar .zametki{
        position: absolute;
        top: 6%;
        right: 8%;
    }
    .header-bar .categoriee{
        position: absolute;
        right: 170px;
        color: rgb(218, 218, 218);
    }
    .header-bar .account{
        position: absolute;
        right: 90px;
        color: rgb(218, 218, 218);
    }

    .task-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-right: 2px solid rgb(255, 255, 255, .2);
        border-bottom: 2px solid rgb(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        padding: 20px 20px;
        width: 100%;
        overflow: hidden;
    }
    .task-wrapper .task-title{
        width:190px; overflow: auto; position: absolute; left: 40px; top: 27px;
    }

    .task-wrapper .task-complete-icon{
        height: 20px;
        width: 20px;
        background-color: rgb(105, 192, 105);
        border-radius: 50%;
        margin-top: 5px;
    }
    .task-wrapper .task-incomplete-icon{
        height: 20px;
        width: 20px;
        background-color: rgb(218, 218, 218);
        border-radius: 50%;
        margin-top: 5px;
    }
    .delete-link {
        text-decoration: none;
        font-weight: 900;
        color: #cf4949;
        font-size: 27px;
        line-height: 0;
    }

    .inimp-butt {
        text-decoration: none;
        color: #333;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 60px;
        top: 21px;
        -webkit-text-stroke: 0.5px black;
    }


    .imp-butt {
        text-decoration: none;
        color: #e1ea25;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 60px;
        top: 21px;
        -webkit-text-stroke: 1.2px black;
    }

    .complete-link {
        text-decoration: none;
        color: #29d810;
        font-size: 35px;
        line-height: 0;
        position: absolute;
        right: 93px;
        top: 16px;
        -webkit-text-stroke: 1px black;
    }
    #search-add-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: 2px solid rgb(255, 255, 255, .2);
        border-left: 2px solid rgb(255, 255, 255, .2);
        border-bottom: 2px solid rgb(255, 255, 255, .2);
        background: #6F97A3;
        background: linear-gradient(135deg, #6F97A3, #385BB1);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
        color: #fff;
        padding: 15px 20px;
    }
    #search-add-wrapper .search-form{
        border: 1.5px solid rgb(255, 255, 255, .2);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0;
        border-radius: 5px;
    }
    .search-area{
        border: none;
        width: 150px;
        outline: none;
        font-size: 15px;
        padding: 0 10px;
        background-color: #7a7a7a;
        height: 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #search-add-wrapper input::placeholder{
        color: #333;
    }
    #search-add-wrapper button{
        border: none;
        height: 25px;
        background-color: #7a7a7a;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #search-add-wrapper .button i{
        display: flex;
        justify-content: center;
        line-height: 0;
        font-size: 15px;
    }

    #add-link {
        color: #fff;
        text-decoration: none;
        font-size: 33px;
        -webkit-text-stroke: 0.7px black;
        margin-right: 14px;
        line-height: 0; 
    }

    .edit-link {
        text-decoration: none;
        color: #644d2a;
        font-size: 23px;
        line-height: 0;
        position: absolute;
        right: 98px;
        -webkit-text-stroke: 0.5px black;
    }

    .task-wrapper .create-date-mobile {
        visibility: visible;
        position: absolute;
        top: 40%;
        right: 42%;
        color: rgb(218, 218, 218);
        font-weight: 500;
        font-size: 17px;
    }
    .counter {
        position: absolute;
        left: 20px; top: 27px;
        color: rgb(218, 218, 218);
    }
    .desktop-date{
        display:none;
    }
}