{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/func_style.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="card-body">
        <a href="{% url 'category-list' %}"><i class='bx bx-arrow-back'></i></i></a>
        <form method="POST" action="">
            {% csrf_token %}
            <textarea class="ca-titl" name="name" placeholder="Заголовок" required>{{ form.name.value }}</textarea> 
            <input class="ca-button" type="submit" value="Подтвердить">
            <span class="mobile_create-date">{{ category.created_at|date:'d.m.y H:i' }}</span>
        </form>
    </div>
</body>
</html>