{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all lists</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/main_style.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="header-bar">
        <div>
            <h1>Списки задач</h1>
        </div>
        <a class="account" href="{% url 'user_profile' request.user.username %}">Профиль</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>

    <div id="search-add-wrapper">
        <form class="search-form" method ="GET">
            <input class="search-area" type="text" name="search-area" value="{{ search_input }}" placeholder="Поиск...">
            <button class="button"><i class='bx bx-search-alt'></i></button>
        </form>
        <a id="add-link" href="{% url 'category-create' %}"><i class='bx bx-plus-circle'></i></a>
    </div>

    <div>
        {% for category in categories %}
            <div class="task-wrapper">
                
                
                <div>
                    <span class="counter">{{ forloop.counter }}.</span>
                    <a class="task-title" style="text-decoration: none; color: #fff;" href="{{ category.get_absolute_url }}"> {{ category }}</a>
                </div>
                <!--<div class="task-title">
                    <a class="desktop"href="{{ category.get_absolute_url }}"><span class="counter">{{ forloop.counter }}.</span> {{ category }}</a>
                    <a class="mobile" href="{{ category.get_absolute_url }}"><span class="counter">{{ forloop.counter }}.</span> категория</a>
                    <span class="create-date-mobile">{{ category.created_at|date:'d.m.y' }}</span>
                    <span class="create-date-desktop">{{ category.created_at|date:'d.m.y H:i' }}</span>
                </div>-->
                <a class="edit-link" href="{% url 'category-update' category.pk %}"><i class='bx bx-edit-alt'></i></a>
                {% if category.important %}
                    <a class="imp-butt" href="{% url 'category-important' category.pk %}"><i class='bx bxs-star'></i></a>
                {% else %}
                    <a class="inimp-butt" href="{% url 'category-important' category.pk %}"><i class='bx bx-star' ></i></a>
                {% endif %}
                <a class="delete-link" href="{% url 'category-delete' category.pk %}"><i class='bx bx-x-circle'></i></a>
            </div>
        {% empty %}
        {% endfor %}
    </div>
</body>
</html>