{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/func_style.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="card-body">
        <a href="{% url 'category_tasks' category.id %}"><i class='bx bx-arrow-back'></i></i></a>
        <form method="POST" action="">
            {% csrf_token %}
            <textarea class="titl" name="title" placeholder="Заголовок" required>{{ form.title.value }}</textarea>
            <textarea class="descript" name="description" placeholder="Введите описание...">{{ form.description.value }}</textarea>
            <textarea class="deadline" name="deadline">{{ form.deadline.value }}</textarea>
            <input class="button" type="submit" value="Подтвердить">
            <span class="mobile_create-date">{{ task.created_at|date:'d.m.y H:i' }}</span>
        </form>
    </div>
</body>
</html>