{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task list</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/main_style.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
{% load users_extras %}
<div class="header-bar">
    <div>
        <h1>Привет, {{ request.user|title }}</h1>
        <h3 style="margin: 0">У вас есть <i>{{ count }}</i> {{ count|default:0|ru_plural:"незавершенная,незавершенные,незавершенных" }} {{ count|default:0|ru_plural:"задача,задачи,задач" }}</h3>
    </div>
    <a class="categoriee" href="{% url 'category-list' %}">Списки задач</a>
    <a class="account" href="">Профиль</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form class="search-form" method ="GET">
        <input class="search-area" type="text" name="search-area" value="{{ search_input }}" placeholder="Поиск...">
        <button class="button"><i class='bx bx-search-alt'></i></button>
    </form>
    <a id="add-link" href="{% url 'task-create' category.id %}"><i class='bx bx-plus-circle'></i></a>
</div>

<div class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
                <div class="task-complete-icon"></div>
                <div class="task-title">
                    <s style="color:black;"><a style="text-decoration: none; color: #fff;" href="{% url 'task-update' category.id task.id %}">{{ task }}</a></s>
                </div>
                <a class="complete-link" href="{% url 'task-complete' category.id task.id %}"><i class='bx bx-check' ></i></a>
            {% else %}
                <div class="task-incomplete-icon"></div>
                <div class="task-title">
                    <a style="text-decoration: none; color: #fff;" href="{% url 'task-update' category.id task.id %}">{{ task }}</a>
                </div>
                <a class="complete-link" href="{% url 'task-complete' category.id task.id %}"><i class='bx bx-check' ></i></a>
            {% endif %}
            <span class="desktop-date">{{ category.created_at|date:'d.m.y H:i' }}</span>
            {% if task.important %}
                <a class="imp-butt" href="{% url 'important-item' category.id task.id %}"><i class='bx bxs-star'></i></a>
            {% else %}
                <a class="inimp-butt" href="{% url 'important-item' category.id task.id %}"><i class='bx bx-star' ></i></a>
            {% endif %}
            <a class="delete-link" href="{% url 'task-delete' category.id task.id %}"><i class='bx bx-x-circle'></i></a>
        </div>
    {% empty %}
    {% endfor %}
</div>
</body>
</html>