{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/func_style.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="card-body">
        <a href="{% url 'category_tasks' category.id %}" class="back-link"><i class='bx bx-arrow-back'></i></a>
        <form method="POST" action="">
            {% csrf_token %}
            <textarea class="titl" name="title" placeholder="Заголовок" required>{{ form.title.value }}</textarea>
            <textarea class="descript" name="description" placeholder="Введите описание...">{{ form.description.value }}</textarea>
            <div class="deadline-container">
                <input type="datetime-local" name="deadline" 
                       value="{{ form.deadline.value|date:'Y-m-d\TH:i' }}"
                       min="{{ now|date:'Y-m-d\TH:i' }}"
                       class="deadline-input">
            </div>
            <input class="button" type="submit" value="Подтвердить">
            <span class="mobile_create-date">{{ task.created_at|date:'d.m.y H:i' }}</span>
        </form>
</body>
</html>