{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/profile_style.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="header-bar">
        <div>
            <h1>Профиль</h1>
        </div>
        <a class="categoriee" href="{% url 'category-list' %}">Списки задач</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
    
    <div class="task-wrapper">
        <div class="user-img">
            <img src="../static/main/user.png">
            <span class="name">Ваше имя: {{ user.username }}</span>
        </div>

        <!--<button class="connect_btn" >Подключить telegram</button>-->
        <div class="tg-link">
            <a href="{{ telegram_link }}">
                <button class="btn"><i class='bx bxs-paper-plane'></i>Подключить Telegram</button>
            </a>
        </div>
    </div>
</body>
</html>